extends layout

block content
  div(class="row")
    div(class="col-lg-2")
    div(class="col-lg-8")
      form(class="my-2 my-lg-0 mr-lg-2 pt-5" action="search" method="GET")
        div(class="input-group")
          input(type="text", name="q", class="form-control input-border", placeholder="Search for Company and People")
          span(class="input-group-btn")
            button(class="btn btn-primary" type="submit")
              i(class="fa fa-search")
    div(class="col-lg-2")
